rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /fasts/{fast} {
      
      function signedInAndNoActiveTimer() {
        return request.auth != null && 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.activeFastID == '';
      }
      
      function signedInAndOwner() {
       	return request.auth != null && resource.data.user == request.auth.uid;
      }
      
      allow read: if signedInAndOwner();
      allow write: if signedInAndNoActiveTimer();
      allow update: if signedInAndOwner();
      allow delete: if signedInAndOwner();
    }
  }
}